/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./styles/auth/login/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.page_page_parent__or9PH {
    margin: 0;
    padding: 0;
    background: linear-gradient( #f2f2f2, #ececec);
    height: -moz-max-content;
    height: max-content;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: hidden;
}

.page_page_wrapper__Cp225 { 
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("/logoshell.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 180px;
    background-size: 200px;
    margin-bottom: 100px;
    padding: 20px;
    overflow-x: hidden;

}

.page_top_title_wrapper__quawJ { 
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: -moz-max-content;
    height: max-content;
    gap: 10px;
}

.page_top_title__TtZwT { 
    width: 200px;
    display: flex;
    color: rgb(0, 33, 51);
    justify-content: flex-start;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.page_information_span__iAMDD { 
    display: flex;
    flex-direction: column;
    width: 80vw;
    color: rgb(30, 30, 30);
    font-size: 10px;
    font-family: sans-serif;
    text-align: left;
}
.page_information_span__iAMDD p { 
    max-width: 100px;
}
.page_top_link__5g8Xj { 
    color: rgb(0, 0, 0);
    font-size: 9px;
    font-family: sans-serif;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.page_top_link2__Xv5Ny { 
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 226, 98);
    font-weight: 700;
    font-size: 10px;
    font-family: sans-serif;
    transition: 0.3s;
}

.page_top_link__5g8Xj:hover, .page_top_link2__Xv5Ny:hover{ 
    color: white;
    transition: 0.3s;
}

.page_logo__amA_H {
    background-color: white;
    border-radius: 0.95rem;
    padding: 10px;
    width: 60px;
    height: 60px;
    box-shadow: white 0px 0px 10px;
    border-color: red;
    border-width: 1px;
    transition: 0.5s;
}

.page_logo__amA_H:hover { 
    transform: scale(1.04);
    transition: 0.5s;
    box-shadow: white 0px 0px 6px;
}


.page_sign_in_text__1nMHP { 
    color: orange;
    font-size: 11px;


}


.page_bottom_logo__lGTIG { 
    width: 40px;
    height: 40px;
    margin: 20px;
    border-radius: 50%;
    border-width: 2px;
    border-color: orange;
    box-shadow: white 0px 0px 5px;
    transition: 0.6s;
}

.page_bottom_logo__lGTIG:hover{ 
    transform: scale(1.08);
    transition: 0.6s;
}

.page_made_by__8M_VI { 
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 600;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    margin: 10px;
}

.page_made_by__8M_VI:nth-child(2) { 
    text-decoration: underline;
}
.page_made_by__8M_VI:nth-child(2):hover { 
    color: rgb(228, 228, 228);
}

.page_google_sign_in__eQTzV { 
    font-size: 12px;
    color: rgb(235, 235, 235);
    font-family: sans-serif;
    font-weight: 700;
}
