

.image_wrapper { 
    background: linear-gradient(to right,rgb(0, 182, 189), rgb(24, 21, 68), rgb(43, 21, 48));
    box-shadow: rgb(100, 100, 100) 0px 0px 5px;
    display: flex;
    width: 35px;
    height: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 0.45rem;
}


.logo_front {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
}