.add_a_friend { 
    font-size: 12px;
    font-family: sans-serif;
    color: rgba(57, 86, 97, 0.416);
    font-weight: 700;
}

.made_by { 
    font-size: 10px;
    color: rgb(0, 108, 129);
    font-weight: 800;
}

.top_links_group { 
    display: flex;
    flex-direction: column;
    margin: 10px;
}

